
@{
    ViewData["Title"] = "View";
}

<h1 style="text-align:center">ROUND TWO</h1>
<p style="text-align:center">As you have already passed Round One now we will ask 10 Random Questions just to know about your knowlege</p>
